*,
:after,
:before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Russo One", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #6414a1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  font-size: 24px;
  font-family: "Russo One" sans-serif;
}

.preloader__text {
  padding-right: 50px;
  z-index: 600;
  margin-bottom: 70px;
}

.preloader-remove {
  opacity: 0;
  z-index: -1000;
}

.preloader-7 div {
  border: 14px inset #1d0152;
  border-radius: 100%;
  padding: 10px;
  -webkit-animation: preloader-7-spin 15s linear infinite;
  animation: preloader-7-spin 15s linear infinite;
  z-index: 600;
}

@-webkit-keyframes preloader-7-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader-7-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.preloader-7 div {
  border: 14px inset #490372;
  border-radius: 100%;
  padding: 4px;
  -webkit-animation: preloader-7-spin 15s linear infinite;
  animation: preloader-7-spin 15s linear infinite;
}

@keyframes preloader-7-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1180px;
  overflow-x: hidden;
  margin: 0 auto;
}

section {
  display: block;
  width: 100%;
  padding: 0px 10px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}

.subtitle {
  float: left;
  font-size: 64px;
  letter-spacing: 0.2em;
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  padding: 0px 0px 30px 100px;
  z-index: 2;
  width: 100%;
  color: #dbd0eb;
  text-shadow: -3px 3px 0px #6414a1, -6px 6px 0px #300b70, -9px 9px 0px #120964;
  -webkit-transform: translate(120%, 0px);
  -ms-transform: translate(120%, 0px);
      transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: opacity, transform 0.9s ease 0s;
  -webkit-transition: opacity, -webkit-transform all 0.9s ease 0s;
  transition: opacity, -webkit-transform all 0.9s ease 0s;
  -o-transition: opacity, transform all 0.9s ease 0s;
  transition: opacity, transform all 0.9s ease 0s;
  transition: opacity, transform all 0.9s ease 0s, -webkit-transform all 0.9s ease 0s;
}

.subtitle._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
  opacity: 1;
}

.color {
  color: #ff44c8;
  font-weight: bold;
  font-size: 1.1em;
}

img {
  border-radius: 5%;
}

a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2.5px;
  text-shadow: 1px 1px 1px #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  text-shadow: 2px 2px 2px #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grid__item li,
p {
  list-style: circle;
  color: #fdf9ff;
  font-size: 1.14rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-indent: 1.5em;
  text-shadow: 2px 1px 1px #000;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.anchor {
  max-width: 100%;
  height: 100px;
  z-index: 50;
}

.anchor__subtitle {
  margin-top: 50px;
  outline: 8px solid violet;
}

.about,
.education,
.films,
.game,
.museum,
.areas,
.website {
  width: 100%;
  height: 15vh;
  margin-bottom: 5vh;
  margin-top: 0px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(38, 8, 69, 0.25);
  -webkit-box-shadow: 15px 0 15px rgba(38, 8, 69, 0.9);
  box-shadow: 15px 0 15px rgba(38, 8, 69, 0.9);
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover,
.header__link:focus {
  color: #e13db1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button__course {
  background: -o-radial-gradient(50% 50%, 50% 50%, #ff0ee7 0%, #c10cd8 100%);
  background: radial-gradient(50% 50% at 50% 50%, #ff0ee7 0%, #c10cd8 100%);
  margin-left: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
  width: 6em;
  height: 2em;
}

.swiper {
  width: 600px;
  height: 200px;
  display: none;
}

.image-slider {
  padding: 30px 0 70px 0;
  width: 100%;
  height: 300px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.image-slider .swiper-button-next:after {
  color: #e13db1;
}

.image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #e13db1;
}

.stage {
  width: 200px;
  position: absolute;
  top: 8%;
  -webkit-perspective: 9999px;
  perspective: 9999px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 3;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: layer_anim 5s infinite alternate ease-in-out -7.5s;
  animation: layer_anim 5s infinite alternate ease-in-out -7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: rotateY(15deg) rotateX(15deg) translateZ(0);
  transform: rotateY(15deg) rotateX(15deg) translateZ(0);
}

.layer:after {
  font-size: 150px;
  font-family: "Russo One", sans-serif;
  content: "KIBERDROM";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: whitesmoke;
  letter-spacing: -2px;
  letter-spacing: 15px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.layer:first-child:after {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  -webkit-transform: translateZ(-1.5px);
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  -webkit-transform: translateZ(-3px);
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  -webkit-transform: translateZ(-4.5px);
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  -webkit-transform: translateZ(-6px);
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  -webkit-transform: translateZ(-7.5px);
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  -webkit-transform: translateZ(-9px);
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  -webkit-transform: translateZ(-10.5px);
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  -webkit-transform: translateZ(-12px);
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  -webkit-transform: translateZ(-13.5px);
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  -webkit-transform: translateZ(-15px);
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  -webkit-transform: translateZ(-16.5px);
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  -webkit-transform: translateZ(-18px);
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  -webkit-transform: translateZ(-19.5px);
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  -webkit-transform: translateZ(-21px);
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  -webkit-transform: translateZ(-22.5px);
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  -webkit-transform: translateZ(-24px);
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  -webkit-transform: translateZ(-25.5px);
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  -webkit-transform: translateZ(-27px);
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  -webkit-transform: translateZ(-28.5px);
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px #961abb;
  text-shadow: 6px 0 6px #1a10d4, 5px 5px 5px #002952, 0 6px 6px #1a10d4;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #0077ea;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@-webkit-keyframes layer_anim {
  to {
    -webkit-transform: rotateY(-15deg) rotateX(-15deg);
    transform: rotateY(-15deg) rotateX(-15deg);
  }
}

@keyframes layer_anim {
  to {
    -webkit-transform: rotateY(-15deg) rotateX(-15deg);
    transform: rotateY(-15deg) rotateX(-15deg);
  }
}

.full-screen__subtitle {
  margin: 350px 0px 180px 0px;
  width: 80%;
  padding: 0px 0px 0px 50px;
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.full-screen__subtitle h2 {
  font-size: 30px;
  letter-spacing: 12px;
  text-indent: none;
  line-height: 1.5;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  border: 2px solid transparent;
}

.col-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  -ms-grid-row-span: 1;
}

.col-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
}

.col-3 {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  -ms-grid-row-span: 3;
}

.row-1 {
  -ms-grid-row-span: 1;
  grid-row: span 1;
}

.row-2 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.row-3 {
  -ms-grid-row-span: 3;
  grid-row: span 3;
}

.grid__item {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}

.grid__item._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.7s ease 1s;
  -o-transition: all 0.7s ease 1s;
  transition: all 0.7s ease 1s;
}

.item-txt {
  position: relative;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.liquid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.btn-liquid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50vw;
  margin: 0 auto;
  height: 8vh;
  border-radius: 27px;
  color: #000;
  letter-spacing: 0.05em;
  font-family: "Russo One", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10vh;
  line-height: 1.5;
  padding: 2vh 2vh 0px 2vh;
}

.btn-liquid .inner {
  padding-top: 0px;
  position: relative;
  z-index: 20;
  margin: 0 auto;
}

.btn-liquid canvas {
  position: absolute;
  top: -40px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
  margin: 0 auto;
}

a.btn-liquid:hover,
a.btn-liquid:focus {
  color: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.grid__vir {
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vir {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.vir_img {
  max-width: 300px;
  height: auto;
  opacity: 1;
}

.vir:hover,
.vir:focus {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
      transform: scale(1.15);
}

.vir_title {
  opacity: 0;
  position: absolute;
  top: 40%;
  color: #ff44c8;
  text-shadow: 1px 1px 1px #000;
  font-size: 36px;
}

.vir:hover .vir_title,
.vir:focus .vir_title {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -o-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
}

.grid__areas {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: minmax(100px, 1fr) [3];
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.button__course_div {
  display: none;
}

.grid__areas_1 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(10vh, 1fr) [3];
  grid-template-rows: repeat(3, minmax(10vh, 1fr));
}

.grid__areas_1_item {
  margin: 0 auto;
}

@-webkit-keyframes but {
  0% {
    left: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  50% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
    border: 5px dotted #fff;
  }

  to {
    left: 2%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

@keyframes but {
  0% {
    left: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  50% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
    border: 5px dotted #fff;
  }

  to {
    left: 2%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

.but {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.but:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0 25px 0 #afe9d1;
  box-shadow: 0 0 25px 0 #afe9d1;
}

.but {
  width: 8em;
  height: 50px;
  padding: 12px 0px 0px 0px;
  border-radius: 54px;
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation-name: but;
  animation-name: but;
  position: relative;
  -webkit-animation: but 1s ease;
  animation: but 1s ease;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  text-align: center;
  vertical-align: middle;
}

.button_1,
.button_3 {
  margin-left: 120px;
}

.button_4,
.button_6 {
  margin-right: 120px;
}

.button_1 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #91b500 0%, #48540d 100%);
  background: radial-gradient(50% 50% at 50% 50%, #91b500 0%, #48540d 100%);
  -webkit-animation-delay: 1s;
  animation-delay: 1;
}

.button_1:hover,
.button_1:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #b7c67c 0%, #7f9223 100%);
  background: radial-gradient(50% 50% at 50% 50%, #b7c67c 0%, #7f9223 100%);
  -webkit-transform: rotate(2deg) scale(1.2);
  -ms-transform: rotate(2deg) scale(1.2);
      transform: rotate(2deg) scale(1.2);
}

.button_2 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #00adb6 0%, #00777d 100%);
  background: radial-gradient(50% 50% at 50% 50%, #00adb6 0%, #00777d 100%);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.button_2:hover,
.button_2:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #aedddf 0%, #1c999f 100%);
  background: radial-gradient(50% 50% at 50% 50%, #aedddf 0%, #1c999f 100%);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
      transform: scale(1.25);
}

.button_3 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #3e8e99 0%, #275f66 100%);
  background: radial-gradient(50% 50% at 50% 50%, #3e8e99 0%, #275f66 100%);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.button_3:hover,
.button_3:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #9eb8bc 0%, #35767e 100%);
  background: radial-gradient(50% 50% at 50% 50%, #9eb8bc 0%, #35767e 100%);
  -webkit-transform: rotate(-2deg) scale(1.2);
  -ms-transform: rotate(-2deg) scale(1.2);
      transform: rotate(-2deg) scale(1.2);
}

.button_4 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #ff9d26 0%, #e37316 100%);
  background: radial-gradient(50% 50% at 50% 50%, #ff9d26 0%, #e37316 100%);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.button_4:hover,
.button_4:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #ffcf95 0%, #ed8630 100%);
  background: radial-gradient(50% 50% at 50% 50%, #ffcf95 0%, #ed8630 100%);
  -webkit-transform: rotate(-2deg) scale(1.2);
  -ms-transform: rotate(-2deg) scale(1.2);
      transform: rotate(-2deg) scale(1.2);
}

.button_5 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #f10734 0%, #9b061d 100%);
  background: radial-gradient(50% 50% at 50% 50%, #f10734 0%, #9b061d 100%);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.button_5:hover,
.button_5:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #f4869c 0%, #dc3750 100%);
  background: radial-gradient(50% 50% at 50% 50%, #f4869c 0%, #dc3750 100%);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
      transform: scale(1.25);
}

.button_6 {
  background: -o-radial-gradient(50% 50%, 50% 50%, #008bab 0%, #005970 100%);
  background: radial-gradient(50% 50% at 50% 50%, #008bab 0%, #005970 100%);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.button_6:hover,
.button_6:focus {
  background: -o-radial-gradient(50% 50%, 50% 50%, #77aebb 0%, #359ab5 100%);
  background: radial-gradient(50% 50% at 50% 50%, #77aebb 0%, #359ab5 100%);
  -webkit-transform: rotate(2deg) scale(1.2);
  -ms-transform: rotate(2deg) scale(1.2);
      transform: rotate(2deg) scale(1.2);
}

.grid__areas_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.areas__img {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-name: imgscale;
  animation-name: imgscale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  margin: 0 auto;
  padding: 10%;
}

@-webkit-keyframes imgscale {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes imgscale {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.grid_game {
  -ms-grid-columns: minmax(100px, 1fr) [6];
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  -ms-grid-rows: minmax(100px, 1fr) [5];
  grid-template-rows: repeat(5, minmax(100px, 1fr));
}

.no-webp .game__item_1 {
  background: url("../img/game/1.png") center/100% 100% no-repeat; }

.game__item_1 {
  padding: 0px 6% 0px 9%;
}

.no-webp .game__item_9 {
  background: url("../img/game/9.png") center/100% 100% no-repeat; }

.game__item_9 {
  padding: 0px 7% 4% 8%;
}

.grid_education {
  -ms-grid-columns: minmax(100px, 1fr) [7];
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  -ms-grid-rows: minmax(100px, 1fr) [8];
  grid-template-rows: repeat(8, minmax(100px, 1fr));
}

.no-webp .education__item_1 {
  background: url("../img/education/1.png") center/100% 80% no-repeat; }

.education__item_1 {
  padding: 0px 5% 0% 10%;
}

.no-webp .education__item_12 {
  background: url("../img/education/12.png") center/100% 100% no-repeat; }

.education__item_12 {
  padding: 0 8% 0% 7%;
}

.no-webp .education__item_18 {
  background: url("../img/education/222.png") center/100% 100% no-repeat; }

.education__item_18 {
  padding: 0% 8% 0% 7%;
}

.grid_films {
  -ms-grid-columns: minmax(100px, 1fr) [6];
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  -ms-grid-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.films__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 1;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-webp .films__item_2 {
  background: url("../img/films/2.png") center/100% 100% no-repeat; }

.films__item_2 {
  padding: 0px 4% 0px 9%;
}

.no-webp .films__item_8 {
  background: url("../img/films/333.png") center/100% 90% no-repeat; }

.films__item_8 {
  padding: 0px 5% 1% 7%;
}

.grid_museum {
  -ms-grid-columns: minmax(150px, 1fr) [6];
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  -ms-grid-rows: minmax(100px, 1fr) [3];
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.no-webp .museum__item_1 {
  background: url("../img/museum/1.png") center/100% 85% no-repeat; }

.museum__item_1 {
  padding: 0px 6% 0px 12%;
}

.grid_website {
  -ms-grid-columns: minmax(150px, 1fr) [4];
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  -ms-grid-rows: minmax(150px, 350px) 1fr 1fr;
  grid-template-rows: minmax(150px, 350px) 1fr 1fr;
}

.no-webp .website__item_1 {
  background: url("../img/website/1.png") center/100% 100% no-repeat; }

.website__item_1 {
  padding: 0% 4% 0% 11%;
}

.no-webp .website__item_2 {
  background: url("../img/website/2.png") center/100% 80% no-repeat; }

.website__item_2 {
  padding: 0% 5% 0% 6%;
}

.grid_about {
  -ms-grid-columns: minmax(150px, 1fr) [4];
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  -ms-grid-rows: minmax(150px, 250px) [6];
  grid-template-rows: repeat(6, minmax(150px, 250px));
}

.no-webp .about__item_1 {
  background: url("../img/about/1.png") center/100% 100% no-repeat; }

.about__item_1 {
  padding: 0px 7% 0px 9%;
}

.no-webp .about__item_2 {
  background: url("../img/about/2.png") center/100% 100% no-repeat; }

.about__item_2 {
  padding: 0px 7% 0px 9%;
}

.no-webp .about__item_3 {
  background: url("../img/about/3.png") center/100% 100% no-repeat; }

footer {
  width: 100vw;
  background: rgba(148, 23, 139, 0.81);
  height: 5%;
  margin-top: 1%;
}

.footer__text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer a {
  color: black;
  text-shadow: none;
}

.footer_adress {
  padding: 0px 0px 0px 2%;
}

.footer_email {
  padding: 0px 2% 0px 0px;
}

.full-screen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.full-screen__video-mob {
  display: none;
}

@media screen and (max-width: 1180px) {
  .preloader-7 div {
    border: 12px inset #35005e;
    padding: 2px;
  }

  .subtitle {
    font-size: calc(24px + 30 * (100vw - 320px) / 860);
    padding-left: calc(20px + 80 * (100vw - 320px) / 860);
  }

  .about,
  .education,
  .films,
  .game,
  .museum,
  .areas,
  .website {
    height: calc(10vh + 5 * (100vw - 320px) / 860);
  }

  .anchor {
    height: calc(40px + 60 * (100vw - 320px) / 860);
  }

  .anchor__subtitle {
    margin-top: calc(20px + 30 * (100vw - 320px) / 860);
  }

  .layer:after {
    font-size: calc(20px + 130 * (100vw - 320px) / 860);
    padding-right: 200px;
  }

  .full-screen__subtitle h2 {
    font-size: calc(18px + 12 * (100vw - 320px) / 860);
    letter-spacing: calc(8px + 4 * (100vw - 320px) / 860);
    line-height: calc(1.2em + 0.3 * (100vw - 320px) / 860);
  }

  .swiper {
    width: calc(100% + 50 * (100vw - 320px) / 860);
  }

  .grid__item li,
  p {
    font-size: calc(0.8rem + 0.34 * (100vw - 320px) / 860);
  }

  .btn-liquid {
    font-size: calc(10px + 6 * (100vw - 320px) / 860);
    text-align: center;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .subtitle {
    font-size: 28px;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:after,
  .header__burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #066ae8;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__menu.active .header__link {
    font-size: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .button__course {
    margin: 0;
  }

  .header__menu.active .button__course {
    padding-bottom: 30px;
    width: 8.1em;
    height: 3em;
  }

  .header__menu.active .header__menu li.active {
    color: #e13db1;
  }

  .full-screen__subtitle {
    margin-top: 200px;
    text-shadow: -2px 2px 0px #6414a1, -4px 4px 0px #300b70, -6px 6px 0px #120964;
  }

  .full-screen__subtitle h2 {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .stage {
    margin: 20px 0px 0px 45px;
  }

  .about,
  .education,
  .films,
  .game,
  .museum,
  .areas,
  .website {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .btn-liquid {
    width: 92vw;
    height: 8vh;
    letter-spacing: 3px;
  }

  .grid__areas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: minmax(30vw, 1fr) [2];
    grid-template-columns: repeat(2, minmax(30vw, 1fr));
  }

  .grid__areas_1 {
    grid-gap: 20px;
  }

  .button_1,
  .button_3 {
    margin-left: calc(0px + 120 * (100vw - 320px) / 860);
  }

  .button_4,
  .button_6 {
    margin-right: calc(0px + 120 * (100vw - 320px) / 860);
  }

  .button_2,
  .button_5 {
    margin: 0 auto;
  }

  .button__course_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }

  .button__course_2 {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0px 24px 0px;
  }

  .grid__item {
    display: none;
  }

  .grid__areas_2 {
    display: none;
  }

  .item-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
  }

  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .grid__areas {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  .grid__item {
    padding-left: 9%;
    padding-right: 6%;
  }

  .game__item_1,
  .education__item_1,
  .films__item_2,
  .films__item_8 {
    height: 300px;
  }

  .game__item_9,
  .website__item_2 {
    height: 370px;
  }

  .education__item_12,
  .education__item_18 {
    height: 400px;
  }

  .museum__item_1 {
    height: 270px;
  }

  .website__item_1 {
    height: 430px;
    padding-left: 11%;
  }

  .about__item_1 {
    height: 170px;
  }

  .about__item_2 {
    height: 550px;
  }

  .about__item_3 {
    height: 220px;
  }

  .swiper {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  .swiper img {
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  footer {
    height: 3%;
  }

  .footer__text {
    font-size: 10px;
  }

  footer a {
    font-size: 10px;
    text-shadow: none;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: black;
  }

  .full-screen__video-mob {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
  }

  .full-screen__video {
    display: none;
  }
}

.webp .game__item_1 { background: url(../img/game/1.webp) center/100% 100% no-repeat; }

.webp .game__item_9 { background: url(../img/game/9.webp) center/100% 100% no-repeat; }

.webp .education__item_1 { background: url(../img/education/1.webp) center/100% 80% no-repeat; }

.webp .education__item_12 { background: url(../img/education/12.webp) center/100% 100% no-repeat; }

.webp .education__item_18 { background: url(../img/education/222.webp) center/100% 100% no-repeat; }

.webp .films__item_2 { background: url(../img/films/2.webp) center/100% 100% no-repeat; }

.webp .films__item_8 { background: url(../img/films/333.webp) center/100% 90% no-repeat; }

.webp .museum__item_1 { background: url(../img/museum/1.webp) center/100% 85% no-repeat; }

.webp .website__item_1 { background: url(../img/website/1.webp) center/100% 100% no-repeat; }

.webp .website__item_2 { background: url(../img/website/2.webp) center/100% 80% no-repeat; }

.webp .about__item_1 { background: url(../img/about/1.webp) center/100% 100% no-repeat; }

.webp .about__item_2 { background: url(../img/about/2.webp) center/100% 100% no-repeat; }

.webp .about__item_3 { background: url(../img/about/3.webp) center/100% 100% no-repeat; }